[submodule "external/original-content"]
	path = external/original-content
	url = https://github.com/mdn/content.git
[submodule "external/translated-content"]
	path = external/translated-content
	url = https://github.com/webdoky/content.git
[submodule "external/interactive-examples"]
	path = external/interactive-examples
	url = https://github.com/webdoky/interactive-examples.git
