# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "master" branch
  push:
    branches: [ "master" ]
  workflow_run:
    workflows: ["Check content"]
    types:
      - completed

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:

      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checks out the repo
        uses: actions/checkout@v3
        with:
          submodules: true
          fetch-depth: 0

      - name: Sets up node
        uses: actions/setup-node@v1
        with:
          node-version: 18

      - name: Fetches dependencies
        run: |
          npm install --location=global yarn &&
          yarn install --frozen-lockfile

      - name: Parses and renders content, prepares public files
        run: yarn pre-build
        env:
          SOURCE_LOCALE: 'en-US'
          TARGET_LOCALE: 'uk'
          BASE_PATH: 'https://webdoky.org'
          PATH_TO_LOCALIZED_CONTENT: './external/translated-content/files'
          PATH_TO_ORIGINAL_CONTENT: './external/original-content/files'

      - name: Builds static app
        run: yarn build
        env:
          SOURCE_LOCALE: 'en-US'
          TARGET_LOCALE: 'uk'
          BASE_PATH: 'https://webdoky.org'
          PATH_TO_LOCALIZED_CONTENT: './external/translated-content/files'
          PATH_TO_ORIGINAL_CONTENT: './external/original-content/files'
          NEXT_PUBLIC_GOOGLE_ANALYTICS_ID: ${{ secrets.GOOGLE_ANALYTICS_ID }}

      - name: Pushes to deployment repository
        uses: cpina/github-action-push-to-another-repository@main
        env:
          SSH_DEPLOY_KEY: ${{ secrets.SSH_DEPLOY_KEY }}
        with:
          source-directory: 'out'
          destination-github-username: 'webdoky'
          destination-repository-name: 'deployment'
          user-email: ${{ secrets.EMAIL }}
          target-branch: master
          target-directory: static